.container-5{
    border: 1px solid black;
    
    margin:0 auto;
    text-align: center;
    
}
.fllex-box-container-1, .fllex-box-container-2, 
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display:flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-{

    background: url("./images/naooo.jpg");
    color:white;

}

.flex-blackjack-row-1 div{
    border: 1px solid black;
    padding: 10px;
     flex:1;
    text-align: center;
     height:200px; 
}


.flex-box-container-1 div{
    border:1px solid black;
    padding:10px;

    display: flex;
    align-items: center;
}
.flex-blackjack-row-1 img{
    width:25%;
    padding:10px;

}
.flex-blackjack-row-2 button{
    border:1px solid black;
    padding:10px;
}

.flex-blackjack-row-2 div{
    border:1px solid black;
    padding:10px;

}

table th,td{
    padding: 5px;
    border: 1px solid black;


}.flex-box-container-1 div{
    border:1px solid black;
    padding:10px;
    display: flex;
    align-items: center;
}
.flex-box-container img{

    margin:10px;

}
h2{

    font-size: 25px;
}
img.dealer {
    height: 100px;
        width: 50px;
    }